.nav-bg-custom,
.bg-custom {
    background-image: linear-gradient(to right, #EF391F 0%, #032489 100%);
}

.navbar-toggler,
.navbar-toggler-icon {
    border-color: wihte;
}

.navbar-nav li.active>a {
    background-color: #333;
    color: #fff;
}

.nav-link {
    color: white !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* font */
@font-face {
    font-family: "Dax OT";
    src: url("../font/DaxOT.ttf");
}

h1,
h2,
h3,
h4,
h6,
p,
li,
a {
    font-family: 'Dax OT', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}